# Packages

In [1]:
import pandas as pd

# Config

In [2]:
data_dir = '../data/small_data/raw_data/0503_lgbmranker_v2/test_df.pkl'

In [3]:
test_df = pd.read_pickle(data_dir)

In [4]:
test_df.shape

(197996, 135)

In [5]:
len(test_df['srch_id'].unique())

7987

In [6]:
test_df['label']

0         0
1         2
2         0
3         0
4         0
         ..
197991    0
197992    2
197993    0
197994    0
197995    0
Name: label, Length: 197996, dtype: int64

In [7]:
df = test_df

In [8]:
def get_poor_df(df):
    test_df = df.copy()
    max_label_df = test_df.groupby('srch_id')['label'].max().reset_index().rename(columns={'label': 'max_label'})
    current_label_df = test_df[test_df['position']==1][['srch_id', 'label']].rename(columns={'label': 'current_label'})
    merged_df = current_label_df.merge(max_label_df, how='left', on='srch_id')
    poor_srch_df = merged_df[merged_df['current_label']!=merged_df['max_label']]#.shape
    poor_srch_id = poor_srch_df['srch_id'].unique()
    poor_df = test_df[test_df['srch_id'].isin(poor_srch_id)]
    return poor_df

In [9]:
poor_df = get_poor_df(df=test_df)

In [10]:
poor_df.shape

(164507, 135)

In [11]:
test_df.shape

(197996, 135)

In [16]:
max_label_df.shape

(7987, 2)

In [17]:
current_label_df.shape

(7969, 2)

In [18]:
# assert len(max_label_df) == len(current_label_df),

In [22]:
merged_df

      srch_id  current_label  max_label
0      332375              0          2
1      422053              0          5
2      254375              5          5
3       88198              0          5
4      538349              0          5
...       ...            ...        ...
7964   203765              5          5
7965   531852              0          2
7966   101561              0          2
7967   307315              0          2
7968   366300              2          2

[7969 rows x 3 columns]

In [29]:
test_df[test_df['srch_id']==88198][['label', 'position']]

    label  position
16      0        14
17      0         1
18      0        12
19      5         7
20      0         9
21      0        10
22      0         4
23      0         6
24      0         2
25      0        15
26      0         3
27      0        13
28      0         8

In [30]:
test_df.shape

(197996, 135)

In [36]:
poor_df.shape

(164507, 135)