# Module

In [1]:
import pandas as pd

# Config

In [12]:
file_name = '../model_finished/offline_features/srch_dest_id_features.csv'
prop_feature_name = '../model_finished/offline_features/prop_id_features.csv'

# srch_destination_feature

In [8]:
dest_feature = pd.read_csv(file_name)

In [9]:
dest_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21524 entries, 0 to 21523
Data columns (total 76 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   srch_destination_id                            21524 non-null  int64
 1   srch_dest_id_size                              21524 non-null  int64
 2   srch_dest_id_mean_visitor_hist_starrating      4967 non-null   float64
 3   srch_dest_id_std_visitor_hist_starrating       4967 non-null   float64
 4   srch_dest_id_median_visitor_hist_starrating    4967 non-null   float64
 5   srch_dest_id_mean_visitor_hist_adr_usd         4991 non-null   float64
 6   srch_dest_id_std_visitor_hist_adr_usd          4991 non-null   float64
 7   srch_dest_id_median_visitor_hist_adr_usd       4991 non-null   float64
 8   srch_dest_id_mean_prop_starrating              21524 non-null  float64
 9   srch_dest_id_std_prop_starrating               21524 non-null  float64
 10  srch_dest_id_median_prop_starrating            21524 non-null  float64
 11  srch_dest_id_mean_prop_review_score            21524 non-null  float64
 12  srch_dest_id_std_prop_review_score             21523 non-null  float64
 13  srch_dest_id_median_prop_review_score          21524 non-null  float64
 14  srch_dest_id_mean_prop_location_score1         21524 non-null  float64
 15  srch_dest_id_std_prop_location_score1          21524 non-null  float64
 16  srch_dest_id_median_prop_location_score1       21524 non-null  float64
 17  srch_dest_id_mean_prop_location_score2         18195 non-null  float64
 18  srch_dest_id_std_prop_location_score2          16188 non-null  float64
 19  srch_dest_id_median_prop_location_score2       18195 non-null  float64
 20  srch_dest_id_mean_prop_log_historical_price    21524 non-null  float64
 21  srch_dest_id_std_prop_log_historical_price     21524 non-null  float64
 22  srch_dest_id_median_prop_log_historical_price  21524 non-null  float64
 23  srch_dest_id_mean_price_usd                    21524 non-null  float64
 24  srch_dest_id_std_price_usd                     21524 non-null  float64
 25  srch_dest_id_median_price_usd                  21524 non-null  float64
 26  srch_dest_id_mean_srch_length_of_stay          21524 non-null  float64
 27  srch_dest_id_std_srch_length_of_stay           21524 non-null  float64
 28  srch_dest_id_median_srch_length_of_stay        21524 non-null  float64
 29  srch_dest_id_mean_srch_booking_window          21524 non-null  float64
 30  srch_dest_id_std_srch_booking_window           21524 non-null  float64
 31  srch_dest_id_median_srch_booking_window        21524 non-null  float64
 32  srch_dest_id_mean_srch_adults_count            21524 non-null  float64
 33  srch_dest_id_std_srch_adults_count             21524 non-null  float64
 34  srch_dest_id_median_srch_adults_count          21524 non-null  float64
 35  srch_dest_id_mean_srch_children_count          21524 non-null  float64
 36  srch_dest_id_std_srch_children_count           21524 non-null  float64
 37  srch_dest_id_median_srch_children_count        21524 non-null  float64
 38  srch_dest_id_mean_srch_room_count              21524 non-null  float64
 39  srch_dest_id_std_srch_room_count               21524 non-null  float64
 40  srch_dest_id_median_srch_room_count            21524 non-null  float64
 41  srch_dest_id_mean_srch_query_affinity_score    6329 non-null   float64
 42  srch_dest_id_std_srch_query_affinity_score     6301 non-null   float64
 43  srch_dest_id_median_srch_query_affinity_score  6329 non-null   float64
 44  srch_dest_id_mean_orig_destination_distance    16649 non-null  float64
 45  srch_dest_id_std_orig_destination_distance     16649 non-null  float64
 46  srch_dest_id_median_orig_destination_distance  16649 non-null  float64
 47  srch_dest_id_mean_comp1_rate_percent_diff      491 non-null    float64
 48  srch_dest_id_std_comp1_rate_percent_diff       471 non-null    float64
 49  srch_dest_id_median_comp1_rate_percent_diff    491 non-null    float64
 50  srch_dest_id_mean_comp2_rate_percent_diff      10789 non-null  float64
 51  srch_dest_id_std_comp2_rate_percent_diff       9791 non-null   float64
 52  srch_dest_id_median_comp2_rate_percent_diff    10789 non-null  float64
 53  srch_dest_id_mean_comp3_rate_percent_diff      9420 non-null   float64
 54  srch_dest_id_std_comp3_rate_percent_diff       8494 non-null   float64
 55  srch_dest_id_median_comp3_rate_percent_diff    9420 non-null   float64
 56  srch_dest_id_mean_comp4_rate_percent_diff      2181 non-null   float64
 57  srch_dest_id_std_comp4_rate_percent_diff       1926 non-null   float64
 58  srch_dest_id_median_comp4_rate_percent_diff    2181 non-null   float64
 59  srch_dest_id_mean_comp5_rate_percent_diff      14393 non-null  float64
 60  srch_dest_id_std_comp5_rate_percent_diff       13212 non-null  float64
 61  srch_dest_id_median_comp5_rate_percent_diff    14393 non-null  float64
 62  srch_dest_id_mean_comp6_rate_percent_diff      3307 non-null   float64
 63  srch_dest_id_std_comp6_rate_percent_diff       2843 non-null   float64
 64  srch_dest_id_median_comp6_rate_percent_diff    3307 non-null   float64
 65  srch_dest_id_mean_comp7_rate_percent_diff      4124 non-null   float64
 66  srch_dest_id_std_comp7_rate_percent_diff       3566 non-null   float64
 67  srch_dest_id_median_comp7_rate_percent_diff    4124 non-null   float64
 68  srch_dest_id_mean_comp8_rate_percent_diff      9612 non-null   float64
 69  srch_dest_id_std_comp8_rate_percent_diff       8901 non-null   float64
 70  srch_dest_id_median_comp8_rate_percent_diff    9612 non-null   float64
 71  srch_dest_id_click_cnt                         8659 non-null   float64
 72  srch_dest_id_booking_cnt                       8659 non-null   float64
 73  srch_dest_id_total_cnt                         8659 non-null   float64
 74  srch_dest_id_all_ctr                           21524 non-null  float64
 75  srch_dest_id_all_ctcvr                         21524 non-null  float64
dtypes: float64(74), int64(2)
memory usage: 12.5 MB

In [10]:
dest_feature.columns

Index(['srch_destination_id', 'srch_dest_id_size',
       'srch_dest_id_mean_visitor_hist_starrating',
       'srch_dest_id_std_visitor_hist_starrating',
       'srch_dest_id_median_visitor_hist_starrating',
       'srch_dest_id_mean_visitor_hist_adr_usd',
       'srch_dest_id_std_visitor_hist_adr_usd',
       'srch_dest_id_median_visitor_hist_adr_usd',
       'srch_dest_id_mean_prop_starrating', 'srch_dest_id_std_prop_starrating',
       'srch_dest_id_median_prop_starrating',
       'srch_dest_id_mean_prop_review_score',
       'srch_dest_id_std_prop_review_score',
       'srch_dest_id_median_prop_review_score',
       'srch_dest_id_mean_prop_location_score1',
       'srch_dest_id_std_prop_location_score1',
       'srch_dest_id_median_prop_location_score1',
       'srch_dest_id_mean_prop_location_score2',
       'srch_dest_id_std_prop_location_score2',
       'srch_dest_id_median_prop_location_score2',
       'srch_dest_id_mean_prop_log_historical_price',
       'srch_dest_id_std_prop_log_historical_price',
       'srch_dest_id_median_prop_log_historical_price',
       'srch_dest_id_mean_price_usd', 'srch_dest_id_std_price_usd',
       'srch_dest_id_median_price_usd',
       'srch_dest_id_mean_srch_length_of_stay',
       'srch_dest_id_std_srch_length_of_stay',
       'srch_dest_id_median_srch_length_of_stay',
       'srch_dest_id_mean_srch_booking_window',
       'srch_dest_id_std_srch_booking_window',
       'srch_dest_id_median_srch_booking_window',
       'srch_dest_id_mean_srch_adults_count',
       'srch_dest_id_std_srch_adults_count',
       'srch_dest_id_median_srch_adults_count',
       'srch_dest_id_mean_srch_children_count',
       'srch_dest_id_std_srch_children_count',
       'srch_dest_id_median_srch_children_count',
       'srch_dest_id_mean_srch_room_count', 'srch_dest_id_std_srch_room_count',
       'srch_dest_id_median_srch_room_count',
       'srch_dest_id_mean_srch_query_affinity_score',
       'srch_dest_id_std_srch_query_affinity_score',
       'srch_dest_id_median_srch_query_affinity_score',
       'srch_dest_id_mean_orig_destination_distance',
       'srch_dest_id_std_orig_destination_distance',
       'srch_dest_id_median_orig_destination_distance',
       'srch_dest_id_mean_comp1_rate_percent_diff',
       'srch_dest_id_std_comp1_rate_percent_diff',
       'srch_dest_id_median_comp1_rate_percent_diff',
       'srch_dest_id_mean_comp2_rate_percent_diff',
       'srch_dest_id_std_comp2_rate_percent_diff',
       'srch_dest_id_median_comp2_rate_percent_diff',
       'srch_dest_id_mean_comp3_rate_percent_diff',
       'srch_dest_id_std_comp3_rate_percent_diff',
       'srch_dest_id_median_comp3_rate_percent_diff',
       'srch_dest_id_mean_comp4_rate_percent_diff',
       'srch_dest_id_std_comp4_rate_percent_diff',
       'srch_dest_id_median_comp4_rate_percent_diff',
       'srch_dest_id_mean_comp5_rate_percent_diff',
       'srch_dest_id_std_comp5_rate_percent_diff',
       'srch_dest_id_median_comp5_rate_percent_diff',
       'srch_dest_id_mean_comp6_rate_percent_diff',
       'srch_dest_id_std_comp6_rate_percent_diff',
       'srch_dest_id_median_comp6_rate_percent_diff',
       'srch_dest_id_mean_comp7_rate_percent_diff',
       'srch_dest_id_std_comp7_rate_percent_diff',
       'srch_dest_id_median_comp7_rate_percent_diff',
       'srch_dest_id_mean_comp8_rate_percent_diff',
       'srch_dest_id_std_comp8_rate_percent_diff',
       'srch_dest_id_median_comp8_rate_percent_diff', 'srch_dest_id_click_cnt',
       'srch_dest_id_booking_cnt', 'srch_dest_id_total_cnt',
       'srch_dest_id_all_ctr', 'srch_dest_id_all_ctcvr'],
      dtype='object')

In [11]:
dest_feature[['srch_dest_id_click_cnt',
       'srch_dest_id_booking_cnt', 'srch_dest_id_total_cnt',
       'srch_dest_id_all_ctr', 'srch_dest_id_all_ctcvr']].head()

,srch_dest_id_click_cnt,srch_dest_id_booking_cnt,srch_dest_id_total_cnt,srch_dest_id_all_ctr,srch_dest_id_all_ctcvr
0,NaN,NaN,NaN,0.044744,0.027928
1,NaN,NaN,NaN,0.044744,0.027928
2,NaN,NaN,NaN,0.044744,0.027928
3,NaN,NaN,NaN,0.044744,0.027928
4,NaN,NaN,NaN,0.044744,0.027928

# prop features

In [13]:
prop_feature = pd.read_csv(prop_feature_name)

In [14]:
prop_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134394 entries, 0 to 134393
Data columns (total 76 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   prop_id                                   134394 non-null  int64
 1   prop_id_size                              134394 non-null  int64
 2   prop_id_mean_visitor_hist_starrating      79695 non-null   float64
 3   prop_id_std_visitor_hist_starrating       54705 non-null   float64
 4   prop_id_median_visitor_hist_starrating    79695 non-null   float64
 5   prop_id_mean_visitor_hist_adr_usd         79952 non-null   float64
 6   prop_id_std_visitor_hist_adr_usd          54899 non-null   float64
 7   prop_id_median_visitor_hist_adr_usd       79952 non-null   float64
 8   prop_id_mean_prop_starrating              134394 non-null  float64
 9   prop_id_std_prop_starrating               123901 non-null  float64
 10  prop_id_median_prop_starrating            134394 non-null  float64
 11  prop_id_mean_prop_review_score            132499 non-null  float64
 12  prop_id_std_prop_review_score             122570 non-null  float64
 13  prop_id_median_prop_review_score          132499 non-null  float64
 14  prop_id_mean_prop_location_score1         134394 non-null  float64
 15  prop_id_std_prop_location_score1          123901 non-null  float64
 16  prop_id_median_prop_location_score1       134394 non-null  float64
 17  prop_id_mean_prop_location_score2         102599 non-null  float64
 18  prop_id_std_prop_location_score2          94957 non-null   float64
 19  prop_id_median_prop_location_score2       102599 non-null  float64
 20  prop_id_mean_prop_log_historical_price    134394 non-null  float64
 21  prop_id_std_prop_log_historical_price     123901 non-null  float64
 22  prop_id_median_prop_log_historical_price  134394 non-null  float64
 23  prop_id_mean_price_usd                    134394 non-null  float64
 24  prop_id_std_price_usd                     123901 non-null  float64
 25  prop_id_median_price_usd                  134394 non-null  float64
 26  prop_id_mean_srch_length_of_stay          134394 non-null  float64
 27  prop_id_std_srch_length_of_stay           123901 non-null  float64
 28  prop_id_median_srch_length_of_stay        134394 non-null  float64
 29  prop_id_mean_srch_booking_window          134394 non-null  float64
 30  prop_id_std_srch_booking_window           123901 non-null  float64
 31  prop_id_median_srch_booking_window        134394 non-null  float64
 32  prop_id_mean_srch_adults_count            134394 non-null  float64
 33  prop_id_std_srch_adults_count             123901 non-null  float64
 34  prop_id_median_srch_adults_count          134394 non-null  float64
 35  prop_id_mean_srch_children_count          134394 non-null  float64
 36  prop_id_std_srch_children_count           123901 non-null  float64
 37  prop_id_median_srch_children_count        134394 non-null  float64
 38  prop_id_mean_srch_room_count              134394 non-null  float64
 39  prop_id_std_srch_room_count               123901 non-null  float64
 40  prop_id_median_srch_room_count            134394 non-null  float64
 41  prop_id_mean_srch_query_affinity_score    59021 non-null   float64
 42  prop_id_std_srch_query_affinity_score     45256 non-null   float64
 43  prop_id_median_srch_query_affinity_score  59021 non-null   float64
 44  prop_id_mean_orig_destination_distance    119731 non-null  float64
 45  prop_id_std_orig_destination_distance     103691 non-null  float64
 46  prop_id_median_orig_destination_distance  119731 non-null  float64
 47  prop_id_mean_comp1_rate_percent_diff      4302 non-null    float64
 48  prop_id_std_comp1_rate_percent_diff       3855 non-null    float64
 49  prop_id_median_comp1_rate_percent_diff    4302 non-null    float64
 50  prop_id_mean_comp2_rate_percent_diff      28268 non-null   float64
 51  prop_id_std_comp2_rate_percent_diff       24749 non-null   float64
 52  prop_id_median_comp2_rate_percent_diff    28268 non-null   float64
 53  prop_id_mean_comp3_rate_percent_diff      28632 non-null   float64
 54  prop_id_std_comp3_rate_percent_diff       24706 non-null   float64
 55  prop_id_median_comp3_rate_percent_diff    28632 non-null   float64
 56  prop_id_mean_comp4_rate_percent_diff      11382 non-null   float64
 57  prop_id_std_comp4_rate_percent_diff       9498 non-null    float64
 58  prop_id_median_comp4_rate_percent_diff    11382 non-null   float64
 59  prop_id_mean_comp5_rate_percent_diff      56492 non-null   float64
 60  prop_id_std_comp5_rate_percent_diff       45092 non-null   float64
 61  prop_id_median_comp5_rate_percent_diff    56492 non-null   float64
 62  prop_id_mean_comp6_rate_percent_diff      13078 non-null   float64
 63  prop_id_std_comp6_rate_percent_diff       9959 non-null    float64
 64  prop_id_median_comp6_rate_percent_diff    13078 non-null   float64
 65  prop_id_mean_comp7_rate_percent_diff      16224 non-null   float64
 66  prop_id_std_comp7_rate_percent_diff       12631 non-null   float64
 67  prop_id_median_comp7_rate_percent_diff    16224 non-null   float64
 68  prop_id_mean_comp8_rate_percent_diff      32581 non-null   float64
 69  prop_id_std_comp8_rate_percent_diff       28265 non-null   float64
 70  prop_id_median_comp8_rate_percent_diff    32581 non-null   float64
 71  prop_id_click_cnt                         100074 non-null  float64
 72  prop_id_booking_cnt                       100074 non-null  float64
 73  prop_id_total_cnt                         100074 non-null  float64
 74  prop_id_all_ctr                           134394 non-null  float64
 75  prop_id_all_ctcvr                         134394 non-null  float64
dtypes: float64(74), int64(2)
memory usage: 77.9 MB

In [16]:
prop_feature.columns

Index(['prop_id', 'prop_id_size', 'prop_id_mean_visitor_hist_starrating',
       'prop_id_std_visitor_hist_starrating',
       'prop_id_median_visitor_hist_starrating',
       'prop_id_mean_visitor_hist_adr_usd', 'prop_id_std_visitor_hist_adr_usd',
       'prop_id_median_visitor_hist_adr_usd', 'prop_id_mean_prop_starrating',
       'prop_id_std_prop_starrating', 'prop_id_median_prop_starrating',
       'prop_id_mean_prop_review_score', 'prop_id_std_prop_review_score',
       'prop_id_median_prop_review_score', 'prop_id_mean_prop_location_score1',
       'prop_id_std_prop_location_score1',
       'prop_id_median_prop_location_score1',
       'prop_id_mean_prop_location_score2', 'prop_id_std_prop_location_score2',
       'prop_id_median_prop_location_score2',
       'prop_id_mean_prop_log_historical_price',
       'prop_id_std_prop_log_historical_price',
       'prop_id_median_prop_log_historical_price', 'prop_id_mean_price_usd',
       'prop_id_std_price_usd', 'prop_id_median_price_usd',
       'prop_id_mean_srch_length_of_stay', 'prop_id_std_srch_length_of_stay',
       'prop_id_median_srch_length_of_stay',
       'prop_id_mean_srch_booking_window', 'prop_id_std_srch_booking_window',
       'prop_id_median_srch_booking_window', 'prop_id_mean_srch_adults_count',
       'prop_id_std_srch_adults_count', 'prop_id_median_srch_adults_count',
       'prop_id_mean_srch_children_count', 'prop_id_std_srch_children_count',
       'prop_id_median_srch_children_count', 'prop_id_mean_srch_room_count',
       'prop_id_std_srch_room_count', 'prop_id_median_srch_room_count',
       'prop_id_mean_srch_query_affinity_score',
       'prop_id_std_srch_query_affinity_score',
       'prop_id_median_srch_query_affinity_score',
       'prop_id_mean_orig_destination_distance',
       'prop_id_std_orig_destination_distance',
       'prop_id_median_orig_destination_distance',
       'prop_id_mean_comp1_rate_percent_diff',
       'prop_id_std_comp1_rate_percent_diff',
       'prop_id_median_comp1_rate_percent_diff',
       'prop_id_mean_comp2_rate_percent_diff',
       'prop_id_std_comp2_rate_percent_diff',
       'prop_id_median_comp2_rate_percent_diff',
       'prop_id_mean_comp3_rate_percent_diff',
       'prop_id_std_comp3_rate_percent_diff',
       'prop_id_median_comp3_rate_percent_diff',
       'prop_id_mean_comp4_rate_percent_diff',
       'prop_id_std_comp4_rate_percent_diff',
       'prop_id_median_comp4_rate_percent_diff',
       'prop_id_mean_comp5_rate_percent_diff',
       'prop_id_std_comp5_rate_percent_diff',
       'prop_id_median_comp5_rate_percent_diff',
       'prop_id_mean_comp6_rate_percent_diff',
       'prop_id_std_comp6_rate_percent_diff',
       'prop_id_median_comp6_rate_percent_diff',
       'prop_id_mean_comp7_rate_percent_diff',
       'prop_id_std_comp7_rate_percent_diff',
       'prop_id_median_comp7_rate_percent_diff',
       'prop_id_mean_comp8_rate_percent_diff',
       'prop_id_std_comp8_rate_percent_diff',
       'prop_id_median_comp8_rate_percent_diff', 'prop_id_click_cnt',
       'prop_id_booking_cnt', 'prop_id_total_cnt', 'prop_id_all_ctr',
       'prop_id_all_ctcvr'],
      dtype='object')

In [17]:
prop_feature[['prop_id_click_cnt',
       'prop_id_booking_cnt', 'prop_id_total_cnt', 'prop_id_all_ctr',
       'prop_id_all_ctcvr']]

,prop_id_click_cnt,prop_id_booking_cnt,prop_id_total_cnt,prop_id_all_ctr,prop_id_all_ctcvr
0,0.0,0.0,11.0,0.044744,0.027928
1,0.0,0.0,1.0,0.044744,0.027928
2,0.0,0.0,19.0,0.044744,0.027928
3,0.0,0.0,6.0,0.044744,0.027928
4,0.0,0.0,6.0,0.044744,0.027928
...,...,...,...,...,...
134389,NaN,NaN,NaN,0.044744,0.027928
134390,0.0,0.0,1.0,0.044744,0.027928
134391,NaN,NaN,NaN,0.044744,0.027928
134392,0.0,0.0,2.0,0.044744,0.027928
134393,0.0,0.0,1.0,0.044744,0.027928

In [5]:
import sklearn
import pandas as pd
from recommenders.evaluation.python_evaluation import ndcg_at_k
# recommenders.evaluation.python_evaluation.ndcg_at_k(rating_true, rating_pred,
#                                     col_user='userID', col_item='itemID',
#                                                     col_rating='rating',
# col_prediction='prediction', relevancy_method='top_k', k=10, threshold=10)[source]

In [35]:
import numpy as np
from sklearn.metrics import ndcg_score
# we have groud-truth relevance of some answers to a query:
true_relevance = np.asarray([[10, 0, 0, 1, 5]])
# we predict some scores (relevance) for the answers
scores = np.asarray([[.1, .2, .3, 4, 70]])
ndcg_score(true_relevance, scores)

0.6956940443813076

In [36]:
df = pd.DataFrame({
    'user_id': [1] * len(true_relevance[0])
    , 'item_id': range(len(true_relevance[0]))
    , 'prediction': scores[0]
})

In [37]:
original = pd.DataFrame({
    'user_id': [1] * len(true_relevance[0])
    , 'item_id': range(len(true_relevance[0]))
    , 'rating': true_relevance[0]
})

In [47]:
ndcg_at_k(rating_true=original, rating_pred=df, col_user='user_id', col_item='item_id', 
          col_rating='rating', col_prediction='prediction', k=1)

1.0

In [39]:
original

   user_id  item_id  rating
0        1        0      10
1        1        1       0
2        1        2       0
3        1        3       1
4        1        4       5

In [40]:
df

   user_id  item_id  prediction
0        1        0         0.1
1        1        1         0.2
2        1        2         0.3
3        1        3         4.0
4        1        4        70.0

In [5]:
scores = np.asarray([[.05, 1.1, 1., .5, .0]])
ndcg_score(true_relevance, scores)

0.493680191377376

In [6]:
# we can set k to truncate the sum; only top k answers contribute.
ndcg_score(true_relevance, scores, k=4)

0.3520241100634488

In [10]:
# the normalization takes k into account so a perfect answer
# would still get 1.0
ndcg_score(true_relevance, true_relevance, k=4)

# now we have some ties in our prediction
scores = np.asarray([[1, 0, 0, 0, 1]])
# by default ties are averaged, so here we get the average (normalized)
# true relevance of our top predictions: (10 / 10 + 5 / 10) / 2 = .75
ndcg_score(true_relevance, scores, k=1)

0.75

In [9]:
# we can choose to ignore ties for faster results, but only
# if we know there aren't ties in our scores, otherwise we get
# wrong results:
ndcg_score(true_relevance,
          true_relevance, k=1, ignore_ties=True)

1.0

In [48]:
true_relevance.shape

(1, 5)

In [49]:
true_relevance

array([[10,  0,  0,  1,  5]])