In [5]:
import sklearn
import pandas as pd
from recommenders.evaluation.python_evaluation import ndcg_at_k
# recommenders.evaluation.python_evaluation.ndcg_at_k(rating_true, rating_pred,
#                                     col_user='userID', col_item='itemID',
#                                                     col_rating='rating',
# col_prediction='prediction', relevancy_method='top_k', k=10, threshold=10)[source]

In [35]:
import numpy as np
from sklearn.metrics import ndcg_score
# we have groud-truth relevance of some answers to a query:
true_relevance = np.asarray([[10, 0, 0, 1, 5]])
# we predict some scores (relevance) for the answers
scores = np.asarray([[.1, .2, .3, 4, 70]])
ndcg_score(true_relevance, scores)

0.6956940443813076

In [36]:
df = pd.DataFrame({
    'user_id': [1] * len(true_relevance[0])
    , 'item_id': range(len(true_relevance[0]))
    , 'prediction': scores[0]
})

In [37]:
original = pd.DataFrame({
    'user_id': [1] * len(true_relevance[0])
    , 'item_id': range(len(true_relevance[0]))
    , 'rating': true_relevance[0]
})

In [47]:
ndcg_at_k(rating_true=original, rating_pred=df, col_user='user_id', col_item='item_id', 
          col_rating='rating', col_prediction='prediction', k=1)

1.0

In [39]:
original

   user_id  item_id  rating
0        1        0      10
1        1        1       0
2        1        2       0
3        1        3       1
4        1        4       5

In [40]:
df

   user_id  item_id  prediction
0        1        0         0.1
1        1        1         0.2
2        1        2         0.3
3        1        3         4.0
4        1        4        70.0

In [5]:
scores = np.asarray([[.05, 1.1, 1., .5, .0]])
ndcg_score(true_relevance, scores)

0.493680191377376

In [6]:
# we can set k to truncate the sum; only top k answers contribute.
ndcg_score(true_relevance, scores, k=4)

0.3520241100634488

In [10]:
# the normalization takes k into account so a perfect answer
# would still get 1.0
ndcg_score(true_relevance, true_relevance, k=4)

# now we have some ties in our prediction
scores = np.asarray([[1, 0, 0, 0, 1]])
# by default ties are averaged, so here we get the average (normalized)
# true relevance of our top predictions: (10 / 10 + 5 / 10) / 2 = .75
ndcg_score(true_relevance, scores, k=1)

0.75

In [9]:
# we can choose to ignore ties for faster results, but only
# if we know there aren't ties in our scores, otherwise we get
# wrong results:
ndcg_score(true_relevance,
          true_relevance, k=1, ignore_ties=True)

1.0

In [48]:
true_relevance.shape

(1, 5)

In [49]:
true_relevance

array([[10,  0,  0,  1,  5]])